.blocks-description-border {
  /* border-bottom: 2px dashed #b8b8b8; */
  padding-bottom: 50px;
  padding-top: 20px;
 
}
.blocks-description {
  font-weight: 600;
font-size: 72px;
line-height: 120.6%;
}
.about-us {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* height: 70vh; */
}
.about-us-content {
  padding-top: 200px;
  width: 50%;
  align-self: flex-end;
  margin-top: auto;
}
.about-us-content p {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  font-family: 'KulimPark';

}

@media screen and (max-width: 768px) {
    
    .about-us-content {
        width: 60%;
        align-self: flex-end;
        margin-top: 0;
      padding-top: 25px
      }
      .about-us-content p {
        font-weight: 400;
        font-size: 19px;
        line-height: 25px;
      }
   .blocks-description {
        font-size: 30px;
      }
            .blocks-description-border {
        padding-top: 10px;
        padding-bottom: 40px;
      }
}

@media screen and (max-height: 920px) {
  .blocks-description-border {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}
