.services-component {
  background-color: #fff !important;
  position: relative;
  overflow: hidden;
}
canvas:nth-of-type(2) {
  display: none;
}
canvas {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  /* width: 100%;
        height: 100%; */
  background-color: transparent !important;
  overflow: hidden;
}
/* .services-wrapper {
  position: relative;
} */
.services-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* position: absolute; */
  padding-top: 200px;
  padding-bottom: 200px;
  /* top: 200px; */
}
.services-main {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
}
.services-title {
  color: #161616;
  font-weight: 600;
  font-size: 90px;
  line-height: 102px;
  margin-right: 30px;
}
.services-description {
  padding-top: 170px;
  align-self: flex-end;
}
.services-description p {
  color: #161616;
  font-weight: 400;
  font-size: 80px;
  line-height: 75px;
  text-align: right;
}
.services-description p:nth-of-type(1) {
  padding-right: 150px;
}

.services-description p:nth-of-type(3) {
  padding-right: 50px;
}
.services-description p:nth-of-type(4) {
  padding-right: 100px;
}
/* Animation */

.fallimg-1 {
  position: absolute;
  /* bottom: 0%; */
  bottom: -2.6%;
  animation: text-block1 1s ease-in;
  animation-play-state: paused;
  transform: rotate(-23deg);
}
@keyframes text-block1 {
  0% {
    bottom: 110%;
    transform: rotate(90deg);
  }
  100% {
    bottom: 0;
  }
}
.fallimg-2 {
  position: absolute;
  /* bottom: 0%; */
  bottom: -0.6%;
  left: 153px;
  animation: text-block2 1.3s ease-in;
  animation-play-state: paused;
}
@keyframes text-block2 {
  0% {
    bottom: 110%;
    transform: rotate(60deg);
  }
  100% {
    bottom: -0.6%;
  }
}
.fallimg-3 {
  position: absolute;
  bottom: 6.0%;
  left: 0%;
  transform: rotate(32deg);
  animation: text-block3 1.5s ease-in;
  animation-play-state: paused;
}
@keyframes text-block3 {
  0% {
    bottom: 110%;
    transform: rotate(110deg);
  }
  100% {
    bottom: 6%;
    transform: rotate(32deg);
  }
}
.fallimg-4 {
  position: absolute;
  bottom: 6.8%;
  left: 92.1px;
  transform: rotate(188deg);
  animation: text-block4 1.7s ease-in ;
  animation-play-state: paused;
}
@keyframes text-block4 {
  0% {
    bottom: 110%;
    transform: rotate(98deg);
  }

  100% {
    bottom: 6.8%;
    transform: rotate(188deg);
  }
}
@media screen and (max-width: 991px) {
  .services-title {
    font-size: 70px;
  }
  .services-description p {
    color: #161616;
    font-size: 50px;
    line-height: 46px;
  }
}
@media screen and (max-width: 768px) {
  .services-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* position: absolute; */
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .services-title {
    font-size: 50px;
  }
  .services-description p {
    color: #161616;
    font-size: 32px;
    line-height: 25px;
  }
  .services-arrow {
    width: 100px;
  }
}
